@page
@model rpc_razor_auth.Pages.AuthRPC.SignUpModel
@{
    ViewData["Title"] = "Sign Up";
}
<br />
<body>
    <div class="container flex-column justify-content-center align-items-center">
        <h1 align="center" class="text-info">Sign Up</h1>
        <br />
        <span class="dropdown-divider"></span>
        <div class="border" style="padding: 0.5rem 1rem; margin: 0.2rem 12.5rem; background-color: #ffffff; border-radius: 5px; filter:drop-shadow(0 0 15px #00000055);">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="container" style="padding: 1.75rem">
                    <div class="form-group">
                        <div class="d-md-flex justify-content-center align-items-center">
                            <div style="padding: 0rem 1.875rem 0rem 1rem;">
                                <label asp-for="User.UserName">Username:</label>
                            </div>
                            <div>
                                <input asp-for="User.UserName" class="form-control" style="padding: 0rem 1rem 0rem 1.875rem; "/>
                            </div>
                            <span asp-validation-for="User.UserName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
