@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}

<br />
<body>
    <div class="d-md-flex justify-content-center align-items-center">
        <h2 class="login">Welcome to RPC</h2>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="border" style="padding: 2.5rem 1rem; margin: 0.2rem 16rem; background-color: #ffffff; border-radius: 10px; filter:drop-shadow(0 0 15px #00000033);">
        <div class="d-md-flex justify-content-center align-items-center" style="margin: 0rem 4.5rem 0rem 4.5rem; ">
            <div>
                <a asp-page="/AuthRPC/SignIn" class="btn btn-primary form-control" style="width: 7.5rem; margin: 0rem 2.5rem 0rem 0rem;">Sign In</a>
            </div>
            <div>
                <a asp-page="/AuthRPC/SignUp" class="btn btn-primary form-control" style="width: 7.5rem; margin: 0rem 0rem 0rem 2.5rem;">Sign Up</a>
            </div>
        </div>
    </div>
</body>


